.nav-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10rem;
  /* background-color: aqua; */
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  z-index: 100;
}

.ul-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-group{
  margin-left: 2rem;
  list-style: none;
}

.list-group>a, .list-social>a{
  text-decoration: none;
  color: black;
}


/* home */

.home-main{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  /* padding: 0 10rem; */
  margin: 5rem 0;
  /* width: 100%; */
  /* height: 100vh; */
}

.image-hero{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-hero>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 5rem 0;
}

.text-span{
  color: red;
}

.home-box{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-weight: bold;
  font-size: xx-large;
}

.sub-title{
  font-size: smaller;
}

.btn-con{
  display: flex;
}

.home-btn{
  padding: 5px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.shop-btn{
  background-color: red;
  color: white;
}

.know-btn{
  border: 1px red solid;
  color: red;
  background-color: white;
}

.list-social{
  margin-right: 2rem;
  list-style: none;
}

.blog-container{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
  gap: 24px;
}

.home-blog{
 border: 1px #808080 solid; 
 padding: 24px;
 display: flex;
 flex-direction: column;
 gap: 15px;
}

.home-blog-title{
  font-size: larger;
}

.box-title{
  display: flex;
  gap: 24px;
  align-items: start;
  /* background-color: aqua; */
}

.icon{
  font-size: xxx-large;
}

.home-blog-description{
  font-size: small;
}


/* about */
section{
  padding: 0 10rem;
}

.section-about{
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
}

.section-box-title{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.section-title{
  font-size: xx-large;
}
.section-sub-title{
  font-size: small;
}

.about-blog{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height: 100%;
  gap: 24px;
}

.about-image{
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.about-image>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.card-group{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  margin-top: 10rem;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border: 1px #909090 solid;
  border-radius: 5px;
  background-color: white;
  gap: 16px;
}

.card-image{
  width: 100%;
  height: 7rem;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  /* justify-content: center; */
}

.card-image>img{
  width: 100%;
  object-fit: cover;
  position: absolute;
  transform: translateY(-6rem);
}

.card-content{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-footer>h2, .card-content>h2{
  font-size: large;
}
.card-content>p{
  font-size: small;
}

.star{
  color: #ffa534;
}

.card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer>button{
  border: none;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  border-radius: 5px;
  padding: 5px;
}



/* Review */
.box-review{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
}

.customer-image{
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 100%;
}

.customer-image>img{
  width: 100%;
  height: 100%;
}

.cus-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cus-info>h3{
  font-size: medium;
}

.cus-info>p{
  font-size: small;
}

.cus-content{
  display: flex;
}

.review-container{
  border: 1px #808080 solid;
  padding: 10px;
  border-radius: 5px;
}

.review-container>p{
  font-size: small;
}

#review{
  margin-top: 5rem;
}